<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="h4">Use this site to get your weather!</p>
        <form>
            <div class="form-group">
                <label for="locationHelp">Location</label>
                <input required type="text" class="form-control" aria-describedby="locationHelp"
                    placeholder="Enter Location">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <div id="outputMessage" class="mt-4"></div>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>

</html>